h1 {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #495057;
    background-color: #fff;
}

select {
    height: 38px;
}

input[type="file"] {
    display: none;
}

.form-control-file {
    position: relative;
    overflow: hidden;
}


.form-control-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.form-control-file .btn {
    white-space: nowrap;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: #0062cc;
    border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.invalid-feedback {
    display: block;
    color: #dc3545;
    margin-top: 5px;
    font-size: 14px;
}

/* 添加伪元素和提示文本 */
.form-group-image:before,
.form-group-video:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-image: url("../img/image.png"); /* 替换为你的图片路径 */
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.form-group-video:before {
    background-image: url("../img/video.png"); /* 替换为你的图片路径 */
}

.form-group-image span,
.form-group-video span {
    font-size: 14px;
    margin-left: 10px;
    color: #999;
}