<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 要设置是实现接口的具体包名加接口名 -->
<mapper namespace="com.example.demo.mapper.FilmMapper">
    <resultMap id="filmResultMap" type="com.example.demo.model.FilmInfo">
        <id property="id" column="id"/>
        <result property="posterPath" column="poster_path"/>
        <result property="videoPath" column="video_path"/>
        <!-- 其他属性的映射 -->
    </resultMap>

    <insert id="save">
        insert into filminfo (name,director,type,description,poster_path
        ,video_path) values (#{name},#{director},#{type},#{description},#{posterPath},#{videoPath})
    </insert>
    <update id="update">
        update filminfo set type=#{type},description=#{description} where id=#{fid}
    </update>
    <delete id="delete">
        delete from filminfo where id=#{fid}
    </delete>

    <select id="getList" resultMap="filmResultMap">
        select * from filminfo
    </select>
</mapper>